<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="../ecommerce/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../ecommerce/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../ecommerce/css/style.css" rel="stylesheet">

</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a href="" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">0</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <h1>product list</h1>
    <div class="container-fluid">
        <div class="row mx">
            <div class="col-lg-9">
                <div class="product-detail accordion-detail">
                    <div class="row ">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <div class="product-image-slider slick-slider">
                                    <% for (var j=0;j<productData.product_multiple_image.length;j++ ){ %>
                                        <figure class="border-radius-10">
                                            <img src="<%= productData.product_multiple_image[j] %>" alt="product image">
                                        </figure>
                                        <% } %>
                                </div>
                            </div>
                            <div class="social-icons single-share">
                                <ul class="text-grey-5 d-inline-block">
                                    <li><strong class="mr-10">Share this:</strong></li>
                                    <li class="social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="social-twitter"> <a href="#"> <i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="social-instagram"><a href="#"> <i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Gallery -->
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">
                                <h2 class="title-detail">
                                    <%= productData.product_name %>
                                </h2>
                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <span> Brands: <a href="shop-grid-right.html">
                                                <%= productData.brandId.brand_name %>
                                            </a></span>
                                    </div>
                                    <div class="product-rate-cover text-end">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (<%= Math.ceil(Math.random() * 100) %>
                                                reviews)</span>
                                    </div>
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <ins><span class="text-brand">
                                                ₹<%= productData.product_price %>
                                            </span></ins>
                                        <ins><span class="old-price font-md ml-15">
                                                <del>₹<%= productData.old_price %></del>
                                            </span></ins>
                                        <span class="save-price  font-md color3 ml-15">
                                            <%= Math.ceil(100 - (productData.product_price/productData.old_price*100 ))
                                                %>%
                                                Off
                                        </span>
                                    </div>
                                </div>


                                <div class="short-desc mb-30">
                                    <p>
                                        <%= productData.product_description %>
                                    </p>
                                </div>
                                <div class="product_sort_info font-xs mb-30">
                                    <ul>
                                        <li class="mb-10"><i><img src="/ecommerce/img/crown-solid.svg" alt=""></i> 1
                                            Year
                                            Brand Warranty
                                        </li>
                                        <li class="mb-10"><i><img src="/ecommerce/img/arrows-rotate-solid.svg"
                                                    alt=""></i>
                                            30 Day Return
                                            Policy</li>
                                        <li><i><img src="/ecommerce/img/credit-card-solid.svg" alt=""></i> Cash on
                                            Delivery
                                            available
                                        </li>
                                    </ul>
                                </div>
                                <div class="attr-detail attr-color mb-15">
                                    <strong class="mr-10">Color</strong>
                                    <ul class="list-filter color-filter">
                                        <% for (var i=0;i<productData.product_color.length;i++ ){ %>
                                            <li><a href="#" data-color="<%= productData.product_color[i] %>"><span
                                                        class="product-color-<%= productData.product_color[i] %>"></span></a>
                                            </li>
                                            <% } %>
                                    </ul>
                                </div>
                                <div class="attr-detail attr-size">
                                    <strong class="mr-10">Size</strong>
                                    <ul class="list-filter size-filter font-small">
                                        <li><a href="#">S</a></li>
                                        <li class="active"><a href="#">M</a></li>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">XL</a></li>
                                        <li><a href="#">XXL</a></li>
                                    </ul>
                                </div>
                                <% if(locals.user){ %>
                                    <form action="/addProducttocart" method="post">
                                        <div class="detail-extralink">
                                            <div class="border radius">
                                                <input type="number" name="quantity" value="1" min="1" max="10" />
                                            </div>
                                            <div class="product-extra-link2">
                                                <input type="hidden" name="productId" value="<%= productData.id %>">

                                                <button type="submit" class="button button-add-to-cart">Add to
                                                    cart</button>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                    href="#"><img src="/ecommerce//img/heart-regular.svg" alt=""></a>
                                            </div>
                                    </form>
                                    <% }else{ %>

                                        <p>Please <a href="/usertlogin">login</a> to add products to your cart.</p>
                                        <% } %>
                                            <ul class="product-meta font-xs color-grey mt-50">
                                                <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                                <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#"
                                                        rel="tag">Women</a>,
                                                    <a href="#" rel="tag">Dress</a>
                                                </li>
                                                <li>Availability:<span class="in-stock text-success ">8 Items In
                                                        Stock</span></li>
                                            </ul>
                            </div>
                        </div>

                        <div class="tab-style3">
                            <ul class="nav nav-tabs text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link active" id="Description-tab" data-bs-toggle="tab"
                                        href="#Description">Description</a>
                                </li>
                            </ul>
                            <div class="tab-content shop_info_tab entry-main-content">
                                <div class="tab-pane fade show active" id="Description">
                                    <div class="">
                                        <p>Uninhibited carnally hired played in whimpered dear gorilla koala
                                            depending and much yikes off far quetzal goodness and from for grimaced
                                            goodness unaccountably and meadowlark near unblushingly crucial scallop
                                            tightly neurotic hungrily some and dear furiously this apart.</p>
                                        <p>Spluttered narrowly yikes left moth in yikes bowed this that grizzly much
                                            hello on spoon-fed that alas rethought much decently richly and wow
                                            against the frequent fluidly at formidable acceptably flapped
                                            besides and much circa far over the bucolically hey precarious goldfinch
                                            mastodon goodness gnashed a jellyfish and one however because.
                                        </p>
                                        <ul class="product-more-infor mt-30 list-filter">
                                            <li><span>Type Of Packing</span> :=>Plastic</li>
                                            <li><span>Color</span>:=>
                                                <%= productData.product_color %>
                                            </li>
                                            <li><span>Quantity Per Case</span>:=> 1</li>
                                            <li><span>Piece In One</span>:=> 1</li>
                                        </ul>
                                        <hr class="wp-block-separator is-style-dots">
                                        <p>Laconic overheard dear woodchuck wow this outrageously taut beaver hey
                                            hello far meadowlark imitatively egregiously hugged that yikes minimally
                                            unanimous pouted flirtatiously as beaver beheld above forward
                                            energetic across this jeepers beneficently cockily less a the raucously
                                            that magic upheld far so the this where crud then below after jeez
                                            enchanting drunkenly more much wow callously irrespective limpet.</p>
                                        <h4 class="mt-30">Packaging & Delivery</h4>
                                        <hr class="wp-block-separator is-style-wide">
                                        <p>Less lion goodness that euphemistically robin expeditiously bluebird
                                            smugly scratched far while thus cackled sheepishly rigid after due one
                                            assenting regarding censorious while occasional or this more crane
                                            went more as this less much amid overhung anathematic because much held
                                            one exuberantly sheep goodness so where rat wry well concomitantly.
                                        </p>
                                        <p>Scallop or far crud plain remarkably far by thus far iguana lewd
                                            precociously and and less rattlesnake contrary caustic wow this near
                                            alas and next and pled the yikes articulate about as less cackled
                                            dalmatian
                                            in much less well jeering for the thanks blindly sentimental whimpered
                                            less across objectively fanciful grimaced wildly some wow and rose
                                            jeepers outgrew lugubrious luridly irrationally attractively
                                            dachshund.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Products Start -->
                        <div class="container-fluid pt-5">
                            <div class="text-center mb-4">
                                <h2 class="section-title px-5"><span class="px-2">Trandy Products</span></h2>
                            </div>
                            <div class="row px-xl-5 pb-3">
                                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                                    <div class="card product-item border-0 mb-4">
                                        <div
                                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                            <img class="img-fluid w-100" src="/ecommerce/img/product-1.jpg" alt="">
                                        </div>
                                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                                            <div class="d-flex justify-content-center">
                                                <h6>$123.00</h6>
                                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between bg-light border">
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                                    <div class="card product-item border-0 mb-4">
                                        <div
                                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                            <img class="img-fluid w-100" src="/ecommerce/img/product-2.jpg" alt="">

                                        </div>
                                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                                            <div class="d-flex justify-content-center">
                                                <h6>$123.00</h6>
                                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between bg-light border">
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                                    <div class="card product-item border-0 mb-4">
                                        <div
                                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                            <img class="img-fluid w-100" src="/ecommerce/img/product-3.jpg" alt="">
                                        </div>
                                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                                            <div class="d-flex justify-content-center">
                                                <h6>$123.00</h6>
                                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between bg-light border">
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                                    <div class="card product-item border-0 mb-4">
                                        <div
                                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                            <img class="img-fluid w-100" src="/ecommerce/img/product-4.jpg" alt="">
                                        </div>
                                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                                            <div class="d-flex justify-content-center">
                                                <h6>$123.00</h6>
                                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between bg-light border">
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                                    <div class="card product-item border-0 mb-4">
                                        <div
                                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                            <img class="img-fluid w-100" src="/ecommerce/img/product-5.jpg" alt="">
                                        </div>
                                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                                            <div class="d-flex justify-content-center">
                                                <h6>$123.00</h6>
                                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between bg-light border">
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                                    <div class="card product-item border-0 mb-4">
                                        <div
                                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                            <img class="img-fluid w-100" src="/ecommerce/img/product-6.jpg" alt="">
                                        </div>
                                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                                            <div class="d-flex justify-content-center">
                                                <h6>$123.00</h6>
                                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between bg-light border">
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                                    <div class="card product-item border-0 mb-4">
                                        <div
                                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                            <img class="img-fluid w-100" src="/ecommerce/img/product-7.jpg" alt="">
                                        </div>
                                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                                            <div class="d-flex justify-content-center">
                                                <h6>$123.00</h6>
                                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between bg-light border">
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                                    <div class="card product-item border-0 mb-4">
                                        <div
                                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                            <img class="img-fluid w-100" src="/ecommerce/img/product-8.jpg" alt="">
                                        </div>
                                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                                            <div class="d-flex justify-content-center">
                                                <h6>$123.00</h6>
                                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between bg-light border">
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                            <a href="" class="btn btn-sm text-dark p-0"><i
                                                    class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Products End -->
                    </div>
                </div>
            </div>
        </div>






        <%- include("./ecomercefooter.ejs") %>