<div class="col-lg-9">
    <!--End nav-tabs-->
    <div class="tab-content wow fadeIn animated" id="myTabContent">
        <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
            aria-labelledby="tab-one">
            <div class="row product-grid-4">
                <% for (var pd of productData) { %>
                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                        <div class="product-cart-wrap mb-30">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="/productlist/<%= pd.id %>">
                                        <img class="default-img" src="<%= pd.product_image %>"
                                            alt="product">
                                        <img class="hover-img" src="<%= pd.product_image %>" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a href="/productlist/<%= pd.id %>" aria-label="View More"
                                        class="action-btn hover-up"><img src="/ecommerce/img/eye-solid.svg" alt=""></a>
                                    <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                        href="shop-wishlist.html"><img src="/ecommerce//img/heart-regular.svg" alt=""></a>
                                </div>
                                <div
                                    class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">Hot</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                    <div class="product-category">
                                        <a href="/">Clothing</a>
                                    </div>
                                    <a href="/">
                                        <%= pd.type %>
                                    </a>
                                </div>
                                <h2><a href="shop-product-right.html">
                                        <%= pd.product_name %>
                                    </a></h2>
                                <div class="rating-result" title="50%">
                                    <span>
                                        <span>50%</span>
                                    </span>
                                </div>
                                <div class="product-price">
                                    <span>
                                        ₹<%= pd.product_price %>
                                    </span>
                                    <span class="old-price">
                                        <del>₹<%= pd.old_price %></del>
                                    </span>
                                </div>
                                <form action="/addProducttocart/<%= pd.id %>" method="post">
                                    <div>
                                        <a aria-label="Add To Cart" class="action-btn hover-up addcart"
                                            href=""><img src="/ecommerce/img/bag-shopping-solid.svg">add cart</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
            <!--End product-grid-4-->
        </div>
    </div>
    <!--End tab-content-->
</div>


