

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DarkPan - Bootstrap 5 Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="../img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../css/style.css" rel="stylesheet">
    <style>
        tr {
            color: yellow;
            background-color: chocolate;
        }

        td {
            border: 2px solid black;
        }

        th {
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="<%= locals.user.addimage %>" alt=""
                            style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">
                            <%= locals.user.name %>
                        </h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="header" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>admin</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="adminform" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>admin</a>
                            <a href="viewdata" class="nav-item nav-link"><i class="fa fa-table me-2"></i>viewdata</a>
                            <a href="updatedata" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>updatedata</a>
                        </div>
                    </div>
                   
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>category</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/category/addcategory" class="dropdown-item">add category</a>
                            <a href="/category/viewcategory" class="dropdown-item">view category</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>subcategory</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/category/subcategorypage" class="dropdown-item">add sub category</a>
                            <a href="/category/viewsubcatgory" class="dropdown-item">view sub category</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>extra category</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/category/extracategory" class="dropdown-item">add extra category</a>
                            <a href="/category/ViewExtraCategory" class="dropdown-item">view extra category</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>product </a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/product/add_product" class="dropdown-item">add product</a>
                            <a href="/product/view_product" class="dropdown-item">view product</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>brand </a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/brand/add_brand" class="dropdown-item">add brand</a>
                            <a href="/brand/view_brand" class="dropdown-item">view brand</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Types </a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/type/add_type" class="dropdown-item">add Types </a>
                            <a href="/type/view_type" class="dropdown-item">view Types</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="content">
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="<%= locals.user.addimage %>" alt=""
                                style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">
                                <%= locals.user.name %>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="/login/userprofile" class="dropdown-item">My Profile</a>
                            <a href="/login/changepassword" class="dropdown-item">changepassword</a>
                            <a href="/login/logout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
     
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Types </h2>
                <p>Add, edit or delete a Type</p>
            </div>
            <div>
                <form>
                    <div class="d-flex align-items-center">
                        <input type="text" placeholder="Search Types" class="form-control bg-white" name="search"
                            value="<%= searchValue %>">
                        <button type="submit" class="btn btn-md m-2 rounded font-sm hover-up btn-primary"
                            value="search">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-start align-middle">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </th>
                                        <th class="text-center align-middle">Category</th>
                                        <th class="text-center align-middle">Sucategory</th>
                                        <th class="text-center align-middle">Extracategory</th>
                                        <th class="text-center align-middle">Brand</th>
                                        <th class="text-center align-middle">Type</th>
                                        <th class="text-center align-middle">Status</th>
                                        <th class="text-center align-middle">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% if(typeData !="" ){ %>
                                        <% for(var td of typeData ){ %>
                                            <tr class="">
                                                <td class="text-start">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" />
                                                    </div>
                                                </td>
                                                <td class="text-center align-middle">
                                                    <%= td.categoryId.category_name %>
                                                </td>
                                                <td class="text-center align-middle">
                                                    <%= td.subcategoryId.subcategory_name %>
                                                </td>
                                                <td class="text-center align-middle">
                                                    <%= td.extracategoryId.extracategory_name %>
                                                </td>
                                                <td class="text-center align-middle">
                                                    <%= td.brandId.brand_name %>
                                                </td>
                                                <td class="text-center align-middle">
                                                    <%= td.type_name %>
                                                </td>
                                                <td class="text-center align-middle">
                                                    <%if(td.status){%>
                                                        <a href="/type/isActive/<%=td.id%>"
                                                            class="badge  alert-success">Active</a>
                                                        <% }else{ %>
                                                            <a href="/type/deActive/<%=td.id%>"
                                                                class="badge  alert-danger">Inactive</a>
                                                            <% }%>
                                                </td>
                                                <td class="text-center align-middle">
                                                    <div class="dropdown">
                                                        <a class="dropdown-item text-secondary border rounded bg-info"
                                                            href="/type/updatetype/<%= td.id %>"><i
                                                                class="material-icons md-edit"></i>Update</a>
                                                    </div>
                                                    <div class="dropdown">
                                                        <a class="dropdown-item text-danger border rounded bg-success"
                                                            href="/type/deletetype/<%= td.id %>"><i
                                                                class="material-icons md-delete_forever"></i>Delete</a>
                                                    </div>
                                                </td>
                                                <% }%>
                                                    <% }else{ %>
                                                        <td class="text-center align-middle" colspan="7">
                                                            <p class="text-center text-danger">No Record Found</p>
                                                        </td>
                                                        <% } %>
                                            </tr>

                                </tbody>
                            </table>
                            <% if(currentPage> 0){ %>
                                <a href="?pages=<%= currentPage - 1 %>&search=<%= searchValue %>"
                                    class="btn btn-primary" style="padding: 10px 16px;">
                                    Previous</a>
                                <% } %>
                                    <% if(currentPage> 0){ %>
                                        <a href="?pages=<%= currentPage - 1 %>&search=<%= searchValue %>"
                                            class="btn border" style="padding: 10px 16px;">
                                            <%= currentPage %>
                                        </a>
                                        <% } %>
                                            <a href="?pages=<%= currentPage %>&search=<%= searchValue %>"
                                                class="btn btn-primary" style="padding: 10px 16px;">
                                                <%= currentPage + 1 %>
                                            </a>
                                            <% if(totalDocument> currentPage + 1){ %>
                                                <a href="?pages=<%= currentPage + 1 %>&search=<%= searchValue %>"
                                                    class="btn border" style="padding: 10px 16px;">
                                                    <%= currentPage + 2 %>
                                                </a>
                                                <% } %>
                                                    <% if(totalDocument> currentPage + 1){ %>
                                                        <a href="?pages=<%= currentPage + 1 %>&search=<%= searchValue %>"
                                                            class="btn btn-primary" style="padding: 10px 16px;">Next</a>
                                                        <% } %>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-info rounded h-100 p-4">
                            <h6 class="mb-4">active view type </h6>
                            <table border="1" class="table table-hover">
                                <thead>
                                    <tr class="table-info">
                                        <th scope="col">#</th>
                                        <th class="text-center align-middle">Category</th>
                                        <th class="text-center align-middle">Sucategory</th>
                                        <th class="text-center align-middle">Extracategory</th>
                                        <th class="text-center align-middle">Brand</th>
                                        <th class="text-center align-middle">Type</th>
                                        <th class="text-center align-middle">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% activetype.map((v,i)=>{%>
                                        <tr class="table-warning">
                                            <td scope="col">
                                                <%=i+1%>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= td.categoryId.category_name %>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= td.subcategoryId.subcategory_name %>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= td.extracategoryId.extracategory_name %>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= td.brandId.brand_name %>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= v.type_name %>
                                            </td>
                                            <td scope="col">
                                                <%= v.status %>
                                            </td>
                                            
                                        </tr>
                                        <%})%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-info rounded h-100 p-4">
                            <h6 class="mb-4">deactive view Brand </h6>
                            <table border="1" class="table table-hover">
                                <thead>
                                    <tr class="table-success">
                                        <th scope="col">#</th>
                                        <th class="text-center align-middle">Category</th>
                                        <th class="text-center align-middle">Sucategory</th>
                                        <th class="text-center align-middle">Extracategory</th>
                                        <th class="text-center align-middle">Brand</th>
                                        <th class="text-center align-middle">Type</th>
                                        <th class="text-center align-middle">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% deactivetype.map((v,i)=>{%>
                                        <tr class="table-primary">
                                            <td scope="col">
                                                <%=i+1%>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= td.categoryId.category_name %>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= td.subcategoryId.subcategory_name %>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= td.extracategoryId.extracategory_name %>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= td.brandId.brand_name %>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%= v.type_name %>
                                            </td>
                                           
                                           
                                            
                                            <td scope="col">
                                                <%= v.status %>
                                                    
                                            </td>
                                            
                                        </tr>
                                        <%})%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded-top p-4">
            <div class="row">
                <div class="col-12 col-sm-6 text-center text-sm-start">
                    &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                </div>
                <div class="col-12 col-sm-6 text-center text-sm-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                    <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Content End -->
    
    
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    
    
    
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/chart/chart.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/waypoints/waypoints.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../lib/tempusdominus/js/moment.min.js"></script>
    <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    
    <!-- Template Javascript -->
    <script src="../js/main.js"></script>
    </body>
    
    </html>

   